<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="Images/favicon.ico" type="image/icon type" />
  <link
    rel="stylesheet"
    href="Plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="Plugins/DataTables/datatables.min.css"
  />
  <link rel="stylesheet" href="css/style.css" />

  <script src="Plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  <script src="Plugins/jquery/jquery-3.5.1.min.js"></script>

  <!-- notification jquery -->
  <link rel="stylesheet" href="Plugins/Toastr/toastr.min.css" />
  <script src="Plugins/Toastr/toastr.min.js"></script>
  <!-- datatables -->

  <!-- jQuery Confirm -->
  <link rel="stylesheet" href="Plugins/jquery-confirm/jquery-confirm.min.css" />
  <script src="Plugins/jquery-confirm/jquery-confirm.min.js"></script>

  <script src="Plugins/DataTables/datatables.min.js"></script>
  <!-- Select2 -->
  <link rel="stylesheet" href="Plugins/select2/select2.min.css" />
  <script src="Plugins/select2/select2.min.js"></script>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Bucket</title>
    <style type="text/css"></style>
  </head>

  <body>
    <div
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #771daa"
    >
      <div
        class="col-md-12"
        style="display: flex; justify-content: space-between"
      >
        <img class="Vlogo" src="Images/logo.png" alt="" />

        <h6 class="Vheading">Movies Bucket</h6>

        <h6 class="logout">logout</h6>
      </div>
    </div>

    <div class="container" style="display: flex; justify-content: center">
      <div class="col-xl-5 col-md-12 col-sm-12 p-4 panel2">
        <div id="login-box" class="col-md-12">
          <h3 class="text-center headL my-2">Delete Movie</h3>
          <hr />
          <div class="form-group" style="margin-top: 20px">
            <select id="searchResult" class="form-control"></select>
          </div>
          <div class="form-group" style="margin-top: 20px">
            <label for="username" class="usernameL">Movie Name</label><br />
            <input
              type="text"
              placeholder="eg. Lucy"
              name="movie_name"
              id="movie_name"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group" style="margin-top: 20px">
            <label for="email" class="usernameL">Rating</label><br />
            <input
              type="number"
              placeholder="eg. 7"
              name="rating"
              id="rating"
              class="form-control"
              readonly
            />
          </div>
          <div class="form-group">
            <label for="email" class="usernameL">Cast</label><br />
            <div style="display: flex; justify-content: space-between">
              <select id="cast" class="form-control" disabled></select>
            </div>
          </div>
          <div class="form-group">
            <label for="password" class="passwordL">Genre</label><br />
            <input
              type="text"
              placeholder="eg. Thriller"
              name="genre"
              id="genre"
              class="form-control"
              readonly
            />
          </div>

          <div class="form-group">
            <label for="number" class="usernameL">Release Date</label><br />
            <input
              type="date"
              placeholder="eg. 12-12-2012"
              name="release_date"
              id="release_date"
              class="form-control"
              readonly
            />
          </div>

          <div class="d-flex justify-content-center">
            <input
              class="btn btn-outline-danger col-md-5 py-1 mt-3"
              id="delete"
              type="submit"
              name="submit"
              value="Delete"
            />
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- App.js -->
  <script src="custom/App.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      App.checkToken();

      $("#cast")
        .val("")
        .select2({
          multiple: true,
          tags: true,
          createTag: function (tag) {
            return { id: tag.term, text: tag.term, tag: true };
          },
        });

      App.getMoviesName();

      $("#searchResult").on("change", function () {
        $("input").attr("readonly", "true");
        $("select").attr("disabled", "true");
        $("#searchResult").removeAttr("disabled");
        if ($("#searchResult").val()) {
          App.searchMovie();
        }
      });

      $("#delete").on("click", function () {
        if (!$("#searchResult").val()) {
          toastr.info("Movie Name must NOT be empty", "Warning");
          return;
        }

        $.confirm({
          title: "Delete Request?",
          content: "Are you sure, do you want to remove this request?",
          backgroundDismiss: false,
          backgroundDismissAnimation: "glow",
          type: "red",
          closeIcon: true,
          closeIconClass: "fa fa-close",
          typeAnimated: true,
          boxWidth: "30%",
          useBootstrap: false,
          autoClose: "no|5000",
          buttons: {
            delete: {
              text: "Delete",
              btnClass: "btn-red",
              action: function () {
                App.deleteMovie();
                $("input[type=text]").val("");
                $("input[type=date]").val("");
                $("input[type=number]").val("");
                $("#cast").val("").trigger("change");
              },
            },
            no: function () {
              toastr.info("Cancelled! Movie data is safe now.", "Info");
            },
          },
        });
      });

      $("#reset").on("click", function () {
        $("input[type=text]").val("");
        $("input[type=date]").val("");
        $("input[type=number]").val("");
        $("#cast").val("").trigger("change");
      });
      $(".logout").on("click", function () {
        App.logout();
      });
    });
  </script>
</html>
<!-- 
git add .
git commit -m 'check push hello'
git push origin master -->
