<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="Images/favicon.ico" type="image/icon type" />
  <link
    rel="stylesheet"
    href="Plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css"
  />
  <script src="Plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  <script src="Plugins/jquery/jquery-3.5.1.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="Plugins/DataTables/datatables.min.css"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <!-- notification jquery -->
  <link rel="stylesheet" href="Plugins/Toastr/toastr.min.css" />
  <script src="Plugins/Toastr/toastr.min.js"></script>

  <link rel="stylesheet" href="css/style.css" />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Bucket</title>
    <style type="text/css">
      fieldset {
        /* font-weight: bold; */
        font-family: "Times New Roman", Times, seri;
        color: white;
      }

      .hr2 {
        width: 100%;
        border-top: 1px solid #dedede;
        margin-bottom: 5px;
        height: 0px;
      }

      .btn:hover {
        color: white;
        font-weight: bold;
        background-color: #9f1bb1;
        cursor: pointer;
      }

      .btn {
        border: 1px solid;
        padding-top: 20px;
        color: rgb(44, 42, 42);
        /* rgb(187, 75, 187) */
      }

      .btn-even:hover {
        color: white;
        font-weight: bold;
        background-color: #9f1bb1;
        cursor: pointer;
      }

      .btn-even {
        border: 1px solid;
        padding-top: 20px;
        background-color: #5d2eaa;
        color: white;
        /* rgb(187, 75, 187) */
      }

      input {
        background-color: blueviolet;
        color: white;
        font-weight: bold;
        font-family: "Times New Roman", Times, seri;
      }

      .d-flex {
        display: flex;
        justify-content: space-between;
        margin-left: 20px;
        margin-right: 20px;
      }

      .d-flex-col {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      span {
        font-size: 15px;
      }
    </style>
  </head>

  <body>
    <div
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #771daa"
    >
      <div
        class="col-md-12"
        style="display: flex; justify-content: space-between"
      >
        <img class="Vlogo" src="Images/logo.png" alt="" />

        <h6 class="Vheading">Movies Bucket</h6>

        <span class="logout">Logout</span>
      </div>
    </div>

    <div class="container" style="display: flex; justify-content: center">
      <div class="panelAdminMain">
        <div id="request-box" class="col-md-12">
          <h3 class="text-center headL my-4" style="font-size: 20px">
            Movies Bucket
          </h3>
          <hr />
          <div class="container" style="margin-bottom: 20px">
            <div class="row d-flex">
              <div class="btn btn-even col-md-5 col-sm-12 mt-4" id="newMovie">
                <i class="fa fa-film fa-5x"></i>
                <hr class="hr2" />
                <span>New Movie</span>
              </div>
              <div class="btn col-md-5 col-sm-12 mt-4" id="editMovie">
                <i class="fa fa-pencil fa-5x"></i>
                <hr class="hr2" />
                <span>Edit Movie</span>
              </div>
            </div>

            <div class="row d-flex">
              <div class="btn col-md-5 col-sm-12 mt-4" id="deleteMovie">
                <i class="fa fa-trash fa-5x"></i>
                <hr class="hr2" />
                <span>Delete Movies</span>
              </div>
              <div class="btn btn-even col-md-5 col-sm-12 mt-4" id="viewMovies">
                <i class="fa fa-photo fa-5x"></i>
                <hr class="hr2" />
                <span>View Movies</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- App js -->
  <script src="custom/App.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      App.checkToken();

      $(".logout").on("click", function () {
        App.logout();
      });
      $("#newMovie").click(function () {
        window.location.href = "new_movie";
      });
      $("#editMovie").click(function () {
        window.location.href = "edit_movie";
      });
      $("#deleteMovie").click(function () {
        window.location.href = "delete_movie";
      });
      $("#viewMovies").click(function () {
        window.location.href = "view_movies";
      });
    });
  </script>
</html>
<!-- 
git add .
git commit -m 'check push hello'
git push origin master -->
