<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="Images/favicon.ico" type="image/icon type" />
  <link
    rel="stylesheet"
    href="Plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="Plugins/DataTables/datatables.min.css"
  />
  <link rel="stylesheet" href="css/style.css" />

  <script src="Plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  <script src="Plugins/jquery/jquery-3.5.1.min.js"></script>

  <!-- notification jquery -->
  <link rel="stylesheet" href="Plugins/Toastr/toastr.min.css" />
  <script src="Plugins/Toastr/toastr.min.js"></script>

  <script src="Plugins/DataTables/datatables.min.js"></script>

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Bucket</title>
    <style type="text/css"></style>
  </head>

  <body>
    <div
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #771daa"
    >
      <div
        class="col-md-12"
        style="
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        "
      >
        <div>
          <img class="Vlogo" src="Images/logo.png" alt="" />
        </div>
        <div>
          <h6 class="Vheading">Movies Bucket</h6>
        </div>
        <div>
          <h6 class="logout">Logout</h6>
        </div>
      </div>
    </div>

    <div class="container" style="display: flex; justify-content: center">
      <div class="col-xl-5 col-md-12 col-sm-12 p-4 panel2">
        <div id="login-box" class="col-md-12">
          <h3 class="text-center headL my-2">New User Registration</h3>
          <hr />
          <div class="form-group" style="margin-top: 10px">
            <label for="username" class="usernameL">First Name</label><br />
            <input
              type="text"
              placeholder="eg. Xoe"
              name="first_name"
              id="first_name"
              class="form-control"
            />
          </div>
          <div class="form-group" style="margin-top: 10px">
            <label for="Mobile" class="usernameL">Mobile</label><br />
            <input
              type="tel"
              placeholder="eg. 979786758571"
              name="mobile"
              id="mobile"
              class="form-control"
            />
          </div>

          <div class="form-group" style="margin-top: 10px">
            <label for="email" class="usernameL">Email</label><br />
            <input
              type="text"
              placeholder="eg. example@gmail.com"
              name="email_id"
              id="email_id"
              class="form-control"
            />
          </div>

          <div class="form-group" style="margin-top: 10px">
            <label for="email" class="usernameL">Password</label><br />
            <input
              type="password"
              placeholder="eg. password"
              name="password"
              id="password"
              class="form-control"
            />
          </div>

          <div class="form-group" style="margin-top: 10px">
            <label for="email" class="usernameL">Confirm</label><br />
            <input
              type="password"
              placeholder="eg. password"
              name="confirm"
              id="confirm"
              class="form-control"
            />
          </div>

          <div
            class="form-group"
            style="
              margin-top: 30px;
              margin-bottom: 10px;
              display: flex;
              justify-content: space-between;
            "
          >
            <input
              class="btn-outline-custom"
              id="submit"
              type="submit"
              name="submit"
              value="Submit"
            />
            <input
              class="btn-outline-custom"
              id="reset"
              type="reset"
              name="reset"
              value="Reset"
            />
          </div>
        </div>
      </div>
    </div>
  </body>

  <!-- App js -->
  <script src="custom/App.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };
      //   App.checkToken();

      $("#submit").on("click", () => {
        if ($("#password").val() != $("#confirm").val()) {
          toastr["warning"]("password and confirm didn't match");
          return;
        }

        App.signup();
      });

      $("#reset").on("click", () => {
        $("input[type=text]").val("");
        $("input[type=password]").val("");
        $("input[type=tel]").val("");
      });

      $(".logout").on("click", () => {
        App.logout();
      });
    });
  </script>
</html>
<!-- 
git add .
git commit -m 'check push hello'
git push origin master -->
