<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <!-- title logo -->
  <link rel="icon" href="Images/favicon.ico" type="image/icon type" />
  <link
    rel="stylesheet"
    href="Plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css"
  />
  <script src="Plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  <script src="Plugins/jquery/jquery-3.5.1.min.js"></script>
  <link
    rel="stylesheet"
    type="text/css"
    href="Plugins/DataTables/datatables.min.css"
  />

  <!-- notification jquery -->
  <link rel="stylesheet" href="Plugins/Toastr/toastr.min.css" />
  <script src="Plugins/Toastr/toastr.min.js"></script>

  <script
    type="text/javascript"
    src="Plugins/DataTables/datatables.min.js"
  ></script>
  <link rel="stylesheet" href="css/style.css" />

  <!-- Font Awesome -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movies Bucket</title>
    <style type="text/css"></style>
  </head>

  <body>
    <div
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #771daa"
    >
      <div
        class="col-md-12"
        style="
          display: flex;
          align-items: baseline;
          justify-content: space-between;
        "
      >
        <div>
          <img class="Vlogo" src="Images/logo.png" alt="" />
        </div>
        <div>
          <h6 class="Vheading">Movies Bucket</h6>
        </div>
        <div>
          <h6 class="logout">logout</h6>
        </div>
      </div>
    </div>
    <div class="container-fluid" style="display: flex; justify-content: center">
      <div class="col-xl-9 col-md-12 col-sm-12 p-4 panel3">
        <div id="movies-box" class="col-md-12">
          <h3 class="text-center headL my-2">Movies List</h3>

          <table class="table table-hover" id="movies">
            <thead>
              <tr>
                <th scope="col">Movie Name</th>
                <th scope="col">Rating</th>
                <th scope="col">Cast</th>
                <th scope="col">Genre</th>
                <th scope="col">Release Date</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </body>

  <!-- App js -->
  <script src="custom/App.js"></script>

  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      toastr.options = {
        closeButton: false,
        debug: false,
        newestOnTop: true,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        onclick: null,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "5000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut",
      };

      App.checkToken();

      App.getMoviesList();

      $(".logout").on("click", () => {
        App.logout();
      });
    });
  </script>
</html>
<!-- 
git add .
git commit -m 'check push hello'
git push origin master
$('input[type=radio]:checked').val();
-->
